<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <%= image_tag "logo.jpg", alt: "Logo", class: "rounded-circle" %>
      <p class= "m-2">BOOK A STARSHIP<p>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%#<% if user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
            <%# <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <%= image_tag "https://images-platform.99static.com//i2finf1LKuexfSine7--YuL7sHo=/0x0:1000x1000/fit-in/500x500/99designs-contests-attachments/116/116583/attachment_116583047", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My reservations</a> <%#<%= link_to "Action", "#", class: "dropdown-item" %>
              <a class="dropdown-item" href="#">My spaceships</a> <%#<%= link_to "Another action", "#", class: "dropdown-item" %>
              <a class= "dropdown-item" href="#">Log out</a> <%#<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
              class: "dropdown-item" %>
            </div>
          </li>
          <%#<% else %>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
            <%#<%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <%#<% end %>
      </ul>
    </div>
  </div>
</div>
