<h2>My rentals</h2>
<% @rentals.each do |rental| %>
  <%# display only the rentals for current user%>
  <% if rental.user == current_user %>
    <div class="rental">
      <h3>Rental ID:<%= rental.id%> Starship:<% rental.starship.name %></h3>
      <p><%= rental.starship.photo %></p>
      <p><%= rental.description %></p>
      <p>Start:<%= rental.start_date %> End:<%= rental.end_date %></p>
      <p>Total price: CHF <%= rental.price %>.-</p>
    </div>
  <% else %>
    <p>You have no rentals</p>
  <% end %>
<% end %>
