<h2>My rentals</h2>
<% if flash[:notice] %>
  <script>
    alert("<%= j flash[:notice] %>");
  </script>
<% end %>
<% @rentals.each do |rental| %>
  <%# display only the rentals for the current user%>
  <% if rental.renter_id == current_user.id %>
    <div class="rental">
      <h3>Rental ID:<%= rental.id%> Starship:<%= rental.starship.name %> Status: <strong><%= rental.status%></strong></h3>
      <%# display all photos of the starship%>
      <ul>
        <% rental.starship.photos.each do |photo|%>
          <li><%= cl_image_tag photo.key, height: 100, width:150, crop: :fill %></li>
        <%end%>
      </ul>
      <p><%= rental.starship.description %></p>
      <p>Start:<%= rental.start_date %> End:<%= rental.end_date %></p>
      <p>Total price: CHF <%= rental.price %>.-</p>
      <%# display Accept and Decline buttons if rental.pending?%>
      <% if rental.pending? %>
        <%= link_to 'Accept', accept_rental_path(rental), method: :patch %>
        <%= link_to 'Decline', decline_rental_path(rental), method: :patch %>
      <% end %>
      <%# display Delete only if the current user is the loaner%>
      <% if rental.starship.loaner_id == current_user.id %>
        <%= link_to 'Delete', rental_path(rental), method: :delete %>
      <% end %>
    </div>
  <% else %>
    <p>You have no rentals</p>
  <% end %>
<% end %>
