<h2>Show rental</h2>
<p>Starship:<%= @rental.starship.name%> Status: <strong><%= @rental.status%></strong></p>
<p>
  <strong>Start date:</strong>
  <%= @rental.start_date %>
</p>
<p>
  <strong>End date:</strong>
  <%= @rental.end_date %>
</p>
<p>
  <strong>Price:</strong>
  <%= @rental.price %>
</p>
<p>
  <strong>Pickup city:</strong>
  <%= @rental.starship.pickup_city %>
</p>
<%# display Accept and Decline buttons if rental.pending? and the current user is the loaner%>
<% if @rental.pending? && @rental.starship.loaner.id == current_user.id %>
  <%# Button to accept the rental%>
  <%= link_to 'Accept', accept_rental_path(@rental), method: :patch, class: "btn-major" %>
  <%# Button to decline the rental%>
  <%= link_to 'Decline', decline_rental_path(@rental), method: :patch, class: "btn-major" %>
<% end %>
<%= link_to 'Back', rentals_path %>
