<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">Starships</h1>
  </div>
  <div class="row">
    <% @starships.each do |starship| %>
      <div class="card-trip">
        <%= render "carousel_photos" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= starship.name %></h2>
            <h3><%= starship.pickup_city %></h3>
            <p><%= starship.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= starship.price_per_day %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
