<div class="form-container">
  <h2>Create a new starship</h2>
  <%= simple_form_for @starship do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :pickup_city%>
    <%= f.input :price_per_day, as: :currency %>
    <%= f.input :photos, as: :file, input_html: {multiple: true, accept: "image/*"} %>
    <%= f.button :submit, "Create" %>
  <% end %>
</div>
